*,
*::before,
*::after {
  box-sizing: border-box;
}


.timer{
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 100px;

}

#highScores{
    position: absolute;
    left:0;
    top: 0;
    height: 100px;
    width: 100px;
}


.header{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#supportText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.start-btn {
    font-weight: bold;
    padding: 10px 20px;
    background-color: purple;
    border-radius: 5px;
}



body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn-grid {
    display: grid;
    /* grid-template-columns: repeat (2, auto); */
    gap: 10px;
    margin: 20px 0;
}


.btn:active {
    background-color: plum;
}



.hide {
    display:none;
}